/** pricing.css */
@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");

/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffbf7;
  font-family: "Open Sans", sans-serif;
}

/* Estilos Encabezado */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
  font-size: 0px;
  padding: 10px 10px 10px 10px;
  z-index: 1030;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
}

.header li {
  display: inline;
  margin-left: 10px;
  font-size: 17px;
  font-weight: lighter;
  cursor: pointer;
}

/* Estilos Barra de Navegacion*/
.logo {
  width: 15%;
}

.logo > img {
  height: 100%;
}

.navbar-nav {
  width: 70%;
  text-align: left;
  color: #025157;
  font-weight: 500;
  margin-left: 18%;
}

.login-nav {
  width: 20%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.login-nav > * {
  margin-right: 5px;
  margin-left: 5px;
}

.login-nav a {
  color: #67b54b;
  text-decoration: none;
  font-size: 15px;
}

.login-nav button {
  color: white;
  background-color: #67b54b;
  padding: 18px 14px;
  margin: 0 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

/* Estilos del Banner titulo */
main {
  margin-top: 285px;
}

.tittle {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 24px;
}

h2 {
  color: #46484c;
  font-family: "Slabo 27px", serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

#form-box {
  width: 100%;
  text-align: center;
}

.form {
  height: 55px;
  margin: 0;
  padding: 0;
}

.form > input {
  width: 215px;
  height: 54px;
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 0;
  font-size: inherit;
}

.form > button {
  width: 110px;
  height: 54px;
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: inherit;
  margin-left: -20px;
  cursor: pointer;
}

.promocion {
  text-align: center;
  color: #8b8b8bcc;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 24px;
  margin-top: 20px;
  line-height: 1.5;
}

.promocion > strong {
  font-weight: bold;
  color: #8b8b8bcc;
}

/* Estilos Banner Capterra */
.capterra-banner {
  width: 100%;
  height: auto;
  text-align: center;
}

.capterra-banner > img {
  width: 500px;
}

.intro-group {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 30px;
}

.intro-group > img {
  width: 70%;
  height: auto;
}

/* Estilos Banner Video-Publicidad */
#video-publishing {
  display: flex;
  max-width: 95%;
  margin: 100px auto;
  align-items: center;
  justify-content: space-between;
}

#video-publishing #video {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

#video-publishing #video img {
  width: 120px;
  margin-top: 10px;
}

#video-publishing #publishing {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#video-publishing h3 {
  font-family: "Alegreya", serif;
  color: #025157;
  font-size: 40px;
  line-height: 48px;
}

#video-publishing p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 15px;
}

#video-publishing #start-publishing {
  color: #8b8b8bcc;
}

/* Estilos Carateristicas */
.section-features {
  display: grid;
  height: 780px;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr; */
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  background-color: #025157;
  padding: 5% 10%;
}

.section-features .feature-card {
  margin: 30px 15px 0px 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.section-features .feature-card .contend-feature {
  width: 60%;
  padding: 30px 20px 40px 40px;
}

.section-features .feature-card .contend-feature img {
  width: 50px;
  margin-bottom: 3%;
}

.section-features .feature-card .contend-feature h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
  margin-bottom: 5%;
}

.section-features .feature-card .contend-feature a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 5%;
}

.section-features .feature-card .contend-feature p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
  margin-bottom: 3%;
}

.section-features .feature-card .img-feature {
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.section-features .feature-card .img-feature .box-img-feature {
  height: 100%;
  display: flex;
  align-items: center;
}

.section-features .feature-card .img-feature img {
  height: 100%;
}

/* Estilos Stories */

.stories {
  display: flex;
  background-color: #a1d683;
  align-items: center;
  padding: 5% 15%;
}

.stories .overview {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-right: 100px;
  align-items: left;
}

.stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
  text-align: left;
}

.stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.stories .overview button {
  width: 32%;
  background-color: #025157;
  color: #fff;
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.stories .overview .images {
  margin-top: 32px;
}

.stories .overview .images img {
  width: 500px;
  max-width: 100%;
}

.stories .stories-carrusel {
  flex: 1;
  position: relative;
  max-width: 350px;
  height: 660px;
  background-color: #fff;
  border-radius: 10px;
}

.stories .stories-carrusel .stori-person {
  position: relative;
}

.stories .stories-carrusel .stori-person .company {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stories .stories-carrusel .stori-person .company img {
  max-width: 75%;
  height: auto;
}

.stories .stories-carrusel .stori-person img {
  width: 100%;
  height: 275px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.stories .stories-carrusel .stori-contend {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.stories .stories-carrusel .stori-contend h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  text-align: left;
}

.stories .stories-carrusel .stori-contend h2 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.stories .stories-carrusel .stori-result {
  display: flex;
  align-items: center;
  color: #828282;
  margin-bottom: 50px;
}

.stories .stories-carrusel .stori-result img {
  width: 26px;
  margin: 0px 20px;
}

.stories .stories-carrusel .stori-result p {
  display: block;
  width: 70%;
}

.stories .stories-carrusel .stori-footer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0px 20px;
}

.stories .stories-carrusel .stori-footer button {
  width: 100%;
  background-color: #025157;
  padding: 12px 20px;
  font-weight: 600;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* Estilos Como trabajar en Matcha */
.que-es-matcha {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 5% 10%;
  background-color: #fffbf7;
}

.que-es-matcha .que-es-matcha-header {
  grid-column: 1/5;
}

.que-es-matcha .que-es-matcha-header h2 {
  color: #025157;
  font-size: 50px;
  line-height: 60px;
  font-weight: 1200;
  font-family: "Alegreya", serif;
  margin-bottom: 8px;
}

.que-es-matcha .que-es-matcha-header p {
  max-width: 60%;
  color: #46484c;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 16px;
}

.que-es-matcha .que-es-matcha-header p strong {
  color: #67b54b;
}

.que-es-matcha .que-es-matcha-header button {
  background-color: #025157;
  color: white;
  padding: 6px 20px;
  font-size: 14px;
  font-weight: 600;
  height: 45px;
  border-radius: 6px;
  cursor: pointer;
}

.que-es-matcha .que-es-matcha-card {
  display: grid;
  grid-template-rows: 350px 1fr;
  margin-top: 70px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.que-es-matcha .que-es-matcha-card .card-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.que-es-matcha .que-es-matcha-card .card-img img {
  width: 100%;
  height: 100%;
}

.que-es-matcha .que-es-matcha-card .card-img .card-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 21px;
  height: auto;
}

.que-es-matcha .card-content {
  padding: 25px;
  text-align: left;
}

.que-es-matcha .card-content h3 {
  font-size: 30px;
  line-height: 36px;
  font-family: "Alegreya", serif;
  color: #025157;
  font-weight: 900;
  text-align: center;
  margin-bottom: 5%;
}

.que-es-matcha .card-content p {
  font-size: 15px;
  line-height: 1.5;
  color: #46484c;
  font-weight: 400;
  height: 85px;
  margin-bottom: 16px;
}

.que-es-matcha .card-content a {
  font-size: 16px;
  line-height: 1.4;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.spinner {
  display: flex;
  justify-content: center;
  padding: 5%;
}

/* Session 5 -- Reto 1 y Reto 2*/
/* Media Querys */
/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  .header {
    box-shadow: 1px 0px 0px gray;
  }

  .header .navbar-nav {
    margin-left: 0px;
  }

  .logo {
    margin-bottom: 10px;
  }

  .header .login-nav {
    width: 100%;
    display: flex;
    align-items: center;
  }

  main {
    margin-top: 130px;
  }

  .tittle {
    font-size: 30px;
  }

  .capterra-banner > img {
    width: 100%;
  }

  /* Session 5 -- Reto 3 */
  #video-publishing {
    flex-direction: column;
  }

  #video-publishing #video video {
    width: 100%;
  }

  #video-publishing h3 {
    font-size: 25px;
    line-height: 30px;
  }

  /* Session 5 -- Reto 4 */
  .section-features {
    grid-template-columns: 1fr;
    height: auto;
    padding: 0%;
  }

  .section-features .feature-card {
    margin: 15px 10px 15px 10px;
  }

  .section-features .feature-card:last-child {
    margin-bottom: 15%;
  }

  .section-features .feature-card .contend-feature {
    width: 100%;
  }

  .section-features .feature-card .img-feature {
    display: none;
  }

  .stories {
    flex-direction: column;
    padding: 3%;
  }

  .stories .overview {
    padding: 0%;
  }

  .stories .overview h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .stories .overview button {
    width: 45%;
  }

  .stories .stories-carrusel {
    margin: 3%;
  }

  /* Session 5 -- Reto 5 */

  .que-es-matcha {
    grid-template-columns: 1fr;
    padding: 0%;
    margin-top: 5%;
  }

  .que-es-matcha .que-es-matcha-header {
    grid-column: 1/1;
  }

  .que-es-matcha .que-es-matcha-header h2 {
    font-size: 30px;
  }

  .que-es-matcha .que-es-matcha-header p {
    max-width: 100%;
  }

  .que-es-matcha .card-content a {
    font-size: 15px;
  }

  .que-es-matcha .que-es-matcha-card {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
  }

  .que-es-matcha .que-es-matcha-card:last-child {
    margin-bottom: 15px;
  }

  .que-es-matcha .card-content h3 {
    text-align: left;
  }

  .que-es-matcha .que-es-matcha-card .card-img .card-icon {
    top: -28px;
    left: 75%;
  }

  .que-es-matcha .card-content p {
    height: auto;
  }

  .que-es-matcha .que-es-matcha-card .card-img {
    width: 30%;
    margin-top: 10%;
  }

  .que-es-matcha .que-es-matcha-card .card-img img {
    width: 100%;
    height: auto;
  }
}

/*

dispositivos pequeños en vista landscape (horizontal)
@media (min-width: 576px and max-width: 767px) {
}
  
* dispositivos medianos (tablets)
@media (min-width: 768px and max-width: 991px) {
  ...;
}

dispositivos grandes (desktops)
@media (min-width: 992px and max-width: 1199px) {
  ...;
}

dispositivos extra grandes (monitores grandes, tvs) 
@media (min-width: 1200px) {

}
*/
