/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffbf7;
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
}

/* Estilos Encabezado */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
  font-size: 0px;
  padding: 10px 0px 10px 0px;
  z-index: 1030;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
}

.header li {
  display: inline;
  margin-left: 10px;
  font-size: 17px;
  font-weight: lighter;
  cursor: pointer;
}

/* Estilos Barra de Navegacion*/
.logo {
  width: 15%;
}

.logo > img {
  height: 100%;
}

.nav {
  width: 70%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.login-nav {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.login-nav > * {
  margin-right: 5px;
  margin-left: 5px;
}

.login-nav a {
  color: #67b54b;
  text-decoration: none;
  font-size: 15px;
}

.login-nav button {
  color: white;
  background-color: #67b54b;
  padding: 18px 14px;
  margin: 0 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

/* Estilos del Banner titulo */
main {
  margin-top: 285px;
}

.tittle {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 24px;
}

h2 {
  color: #46484c;
  font-family: "Slabo 27px", serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

#form-box {
  width: 100%;
  text-align: center;
}

.form {
  height: 55px;
  margin: 0;
  padding: 0;
}

.form > input {
  width: 215px;
  height: 40px;
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 0;
  font-size: inherit;
}

.form > button {
  width: 135px;
  height: 54px;
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: inherit;
  margin-left: -20px;
  cursor: pointer;
}

.promocion {
  text-align: center;
  color: #8b8b8bcc;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 24px;
  margin-top: 20px;
  line-height: 1.5;
}

.promocion > strong {
  font-weight: bold;
  color: #8b8b8bcc;
}

/* Estilos Banner Capterra */
.capterra-banner {
  width: 100%;
  height: auto;
  text-align: center;
}

.capterra-banner > img {
  width: 500px;
  height: 52px;
}

.intro-group {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 30px;
}

.intro-group > img {
  width: 70%;
  height: auto;
}

/* Estilos Banner Video-Publicidad */
#video-publishing {
  display: flex;
  max-width: 70%;
  margin: 100px auto;
  align-items: center;
  justify-content: space-between;
}

#video-publishing #video {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video-publishing #video img {
  width: 120px;
  margin-top: 10px;
}

#video-publishing #publishing {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#video-publishing h3 {
  font-family: "Alegreya", serif;
  color: #025157;
  font-size: 40px;
  line-height: 48px;
}

#video-publishing p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 15px;
}

#video-publishing #start-publishing {
  color: #8b8b8bcc;
}

/* Estilos Stories */

.stories {
  display: flex;
  background-color: #a1d683;
  align-items: center;
  padding: 5% 15%;
}

.stories .overview {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-right: 100px;
  align-items: left;
}

.stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
  text-align: left;
}

.stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.stories .overview button {
  width: 32%;
  background-color: #025157;
  color: #fff;
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.stories .overview .images {
  margin-top: 32px;
}

.stories .overview .images img {
  width: 500px;
  max-width: 100%;
}

.stories .stories-carrusel {
  flex: 1;
  position: relative;
  max-width: 350px;
  height: 660px;
  background-color: #fff;
  border-radius: 10px;
}

.stories .stories-carrusel .stori-person {
  position: relative;
}

.stories .stories-carrusel .stori-person .company {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stories .stories-carrusel .stori-person .company img {
  max-width: 75%;
  height: auto;
}

.stories .stories-carrusel .stori-person img {
  width: 100%;
  height: 275px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.stories .stories-carrusel .stori-contend {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.stories .stories-carrusel .stori-contend h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  text-align: left;
}

.stories .stories-carrusel .stori-contend h2 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.stories .stories-carrusel .stori-result {
  display: flex;
  align-items: center;
  color: #828282;
  margin-bottom: 50px;
}

.stories .stories-carrusel .stori-result img {
  width: 26px;
  margin: 0px 20px;
}

.stories .stories-carrusel .stori-result p {
  display: block;
  width: 70%;
}

.stories .stories-carrusel .stori-footer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0px 20px;
}

.stories .stories-carrusel .stori-footer button {
  width: 100%;
  background-color: #025157;
  padding: 12px 20px;
  font-weight: 600;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
